@font-face {
   font-family: 'WenQuanWeiMiHei-1';
   font-display: swap;
   src: url('WenQuanWeiMiHei-1/font.ttf');
}
@font-face {
   font-family: 'JustFontFenYuanZiTi-2';
   font-display: swap;
   src: url('JustFontFenYuanZiTi-2/font.ttf');
}
