@font-face {
   font-family: 'WenQuanWeiMiHei-1';
   font-display: swap;
   src: url('file:///C:/Users/ACER/Desktop/Lynas%E4%BD%9C%E5%93%81%E9%9B%86/%E7%B6%B2%E7%AB%99%E4%BD%9C%E5%93%81/LynasWebsite/fonts/WenQuanWeiMiHei-1/font.ttf');
}
